@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Cascadia Mono", sans-serif;
}

header {
    position: relative;
    background-color: #102E50db;
    color: white;
    padding: 20px 40px;
    text-align: center;
}

header img {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-37%);
    max-width: 140px;
    height: auto;
}

header h1 {
    font-size: 2rem;
}
